*{
    margin:0;
    padding:0;


}
body{
    background-color:#555555 ;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    
}
.container {
    background-color: white;
    border-radius: 10px;
    padding-top: 20px;
    width: 500px;
    height: 250px;
    margin: 50px;
    outline: solid 4px white;
    display: flex;
    flex-direction: column;
    gap:10px 0px;
    align-items: center;
  }
  button{
    padding: 10px 22px;
    border-radius: 4px;
    background-color: #555555;
    color: white;
    
  }
  
  
